djelib_2.0/.idea/
djelib_2.0/DjeLibrary_2/bin/
djelib_2.0/DjeLibrary_2/lib/
djelib_2.0/DjeLibrary_2/obj/
djelib_2.0/DjeLibrary_2_Test/bin/
djelib_2.0/DjeLibrary_2_Test/lib/
djelib_2.0/DjeLibrary_2_Test/obj/
tdumt-app_2.0/.idea/
tdumt-app_2.0/packaging/
tdumt-app_2.0/TDUMT_2_Main/bin/
tdumt-app_2.0/TDUMT_2_Main/lib/
tdumt-app_2.0/TDUMT_2_Main/obj/
tdumt-app_2.0/TDUMT_2_MiniXmb/bin/
tdumt-app_2.0/TDUMT_2_MiniXmb/lib/
tdumt-app_2.0/TDUMT_2_MiniXmb/obj/
tdumt-app_2.0/TDUMT_2_MiniBnk/bin/
tdumt-app_2.0/TDUMT_2_MiniBnk/lib/
tdumt-app_2.0/TDUMT_2_MiniBnk/obj/
tdumodlib_2.0/.idea/
tdumodlib_2.0/ModdingLib/bin/
tdumodlib_2.0/ModdingLib/lib/
tdumodlib_2.0/ModdingLib/obj/
tdumodlib_2.0/ModdingLibraryTest/bin/
tdumodlib_2.0/ModdingLibraryTest/lib/
tdumodlib_2.0/ModdingLibraryTest/obj/
djelib_2.0/*.suo
djelib_2.0/*.sln.iml
djelib_2.0/*.testsettings
djelib_2.0/*.vsmdi
djelib_2.0/DjeLibrary_2/*.user
djelib_2.0/DjeLibrary_2_Test/*.user
tdumt-app_2.0/*.suo
tdumt-app_2.0/*.sln.iml
tdumodlib_2.0/*.suo
tdumodlib_2.0/*.sln.iml
